{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Prueba de Analisis de Rostros</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            {{ form(form) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2>Resultados</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"><strong>Cantidad de Rostros:</strong></div><div class="col-md-8">{{ facesCount }}</div>
    </div>
    <div class="row">
        <div class="col-md-4"><strong>Rostros con Lentes de sol:</strong></div>
        <div class="col-md-8">
            {% for index, face in facesSunglasses %}
            <ul>
                <li>Rostro {{(index+1)}}: {{ face? 'Si': 'No' }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><strong>Resultado completo:</strong></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ dump(facialAnalysisResult) }}
        </div>
    </div>
{% endblock %}
